# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Data science tools
* GitHub
* Watson Studio
* Jupyter Notebooks

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R Programming

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. Numpy
3. keras
4. TensorFlow
5. SciKit Learn

Data Science Tools |
--- |
R Studio |
Jupyter Notebooks |
Zeppelin Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python
---

In [2]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
a = 200/60
print(a, 'hours')

3.3333333333333335 hours

## Author
---
Rutu Kamtikar